input{
    padding: 15px;
    margin: 10px 0px;
    border: 1px solid gray;
    border-radius: 3px;
  
}

.forminput{
    display: flex;
    flex-direction: column;
    width: 550px;
}

/*While using css, try to avoid adding css to tags directly. Span is a common element that can be use elsewhere. You can set a class for that particular element and define css for that class here.*/
span{
    font-size: 12px;
    padding: 3px;
    color:red;
    display: none;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}